extends layout

block content
  h1= "Paul Carroll"
  p Welcome to my site

  .projectContainer
    p(class="projectsTitle") My Projects:
    .underlineBar
    a(href="http://goldsilverstockpricealert.herokuapp.com" target="_blank")
      .project.goldSilverStockProject
        .projectOverlay
          .projectOverlayText
            .projectOverlayTitle Gold/Silver/Stock price alerts
            .underlineBar
            .projectOverlayDescription Set an alert and get an email when prices pass a certain level
    a(href="http://austinfoundpets.herokuapp.com/" target="_blank")
      .project.foundPetAlert
        .projectOverlay
            .projectOverlayText
              .projectOverlayTitle Found pet alert
              .underlineBar
              .projectOverlayDescription Set an alert for a lost pet and get notified by email or text message when Austin Animal Control takes in a possible match
    a(href="https://digitalatx082015.herokuapp.com/" target="_blank")
      .project.digitalAtx
        .projectOverlay
          .projectOverlayText
            .projectOverlayTitle DigitalATX
            .underlineBar
            .projectOverlayDescription For the City of Austin's Digital Inclusion Program