extends layout

block content
  h1= "Paul Carroll"
  p Welcome to my site

  .projectContainer
    a(href="http://goldsilverstockpricealert.herokuapp.com" target="_blank")
      .project.goldSilverStockProject
    a(href="http://austinfoundpets.herokuapp.com/" target="_blank")
      .project.foundPetAlert
    a(href="https://digitalatx082015.herokuapp.com/" target="_blank")
      .project.digitalAtx