body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #E5E5E5;
}

a {
  color: #00B7FF;
}

.projectContainer {
    border: 1px solid black;
}

.project {
    /*width: 50%;*/
    height: 200px;
    margin: 5px;
}

.goldSilverStockProject {
    
}